@import "compass";

// Config
$rhythm-unit: "rem";
$base-font-size: 16px;
$base-line-height: 24px;
$layout-header-height: 60px;

// Theme
$theme-color: #4DD0E1;
$card-color: #EEE;
$font-color: #333;

$gutter: 10px;
$base-padding: 10px;

$base-font-size: 12px;

$scale: 10;
@include global-reset;

// Functions
@function get-rem($size) {
  $rem: $size / $base-font-size;
  @return #{$rem}rem;
}

// Mixins
@mixin font-size($size) {
  font-size: $size; // Fallback in px
  font-size: get-rem($size);
}

@mixin flexbox-grow($rate) {
  flex-grow: $rate / 10;
}

@mixin button($width) {
  //width: $width;
  height: 40px;
  border: none;
  background: #4DD0E1;
  border-bottom: solid 2px #3cb8c7;
  color: #FFF;
  border-radius: 2px;
  font-family: inherit;
  font-weight: 800;

  outline: none;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

@mixin reset-placeholder($color) {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
}

body {
  font-family: Lato, Sans-Serif;
  //@include font-size(12px);
}

.page__container {
  @include establish-baseline($base-font-size);

  .row {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
  }

  .col {
    @include display-flex;
    @include flex-direction(column);
    @include flex-wrap(wrap);
  }

  @for $i from 1 through $scale {
    .flg-#{$i}{
      @include flexbox-grow($i);
    }
  }

  .page__container-view {
    background: #f1f1f1;
  }

  h1, h2, h3 {
    text-transform: capitalize;
  }

  h1 {
    @include font-size(30px);
    font-weight: 800;
    margin-bottom: 1rem;
  }

  h2 {
    @include font-size(20px);
    font-weight: 600;
    margin-bottom: 1rem;
  }

  h3 {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .input-x {
    border: solid 1px #cecece;
    height: 35px;
    margin-right: 10px;
    outline: none;
    padding: 3px 0px 3px 3px;
  }

  textarea {
    resize: none;
  }

  input:focus {
    outline: none;
  }

  textarea:focus, .input-x:focus{
    outline: none;
    border-color: $theme-color;
    box-shadow: 0 0 5px $theme-color;
  }

  button {
    @include button(200px);

    a {
      text-decoration: none;
      color: #FFF;
      font-weight: 600;
    }
  }

  section {
    position: relative;
  }

  .page__container-content.col {
    height: 100%;
  }

  .input-x {
    height: 40px;
    flex: 2;
  }

  .signin-wrapper {
    display: flex;
    background: url('../assets/images/signin-page-background.jpg');
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    position: fixed;
    text-align: center;

    @include reset-placeholder(#FFF);

    h2 {
      color: #FFF;
      text-transform: uppercase;
      font-weight: 200;
    }

    .signin-container {
      padding: $base-padding;
      background: #333;
      width: 500px;
      height: 300px;
      margin: auto;

      input {
        flex: 1;
        background: none;
        border: none;
        color: #FFF;
        border-bottom:solid 1px #FFF;
        padding-bottom: 10px;
      }

      button {
        margin-top: $gutter;
      }
    }
  }

  .page__container-content__rooms {
    width: 300px;
    height: 100%;
    padding: 10px;

    .room-list {
      flex: 1;
      overflow: auto;

      li {
        padding: 15px;
        background: #e8e8e8;
        border-bottom: solid 1px #e0e0e0;

        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }

      li#current-room {
        font-weight: 900;
      }
    }
  }

  .page__container-content__wrapper-form {
    width: 50%;
    margin: auto;
  }

  .messages-thread {
    width: 50%;
    margin: auto;
  }

  .message-input {
    bottom: 100px;
    position: fixed;
    width: 100%;
  }
}
