@import "compass";

// Config
$rhythm-unit: "rem";
$base-font-size: 16px;
$base-line-height: 24px;
$layout-header-height: 60px;

// Theme
$theme-color: #4DD0E1;
$card-color: #EEE;
$font-color: #333;

$scale: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
@include global-reset;

// Functions
@function get-rem($size) {
  $rem: $size / $base-font-size;
  @return #{$rem}rem;
}

// Mixins
@mixin font-size($size) {
  font-size: $size; // Fallback in px
  font-size: get-rem($size);
}

@mixin flexbox-grow($rate) {
  flex-grow: $rate / 10;
}

@mixin button($width) {
  width: $width;
  height: 35px;
  border: none;
  background: #4DD0E1;
  border-bottom: solid 2px #3cb8c7;
  color: #FFF;
  border-radius: 2px;
  font-family: inherit;
  font-weight: 800;
}

.page__container {
  @include establish-baseline($base-font-size);
  font-family: Lato, Sans-Serif;

  .page__container-view {
    background: #f1f1f1;
    height: 100%;
  }

  h1, h2, h3 {
    text-transform: capitalize;
  }

  h1 {
    @include font-size(20px);
    font-weight: 800;
    margin-bottom: 1rem;
  }

  h2 {
    @include font-size(18px);
    font-weight: 600;
    margin-bottom: 1rem;
  }

  h3 {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  input, textarea {
    border: solid 1px #cecece;
    height: 35px;

    -moz-transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    outline: none;

    padding: 3px 0px 3px 3px;
  }

  textarea {
    resize: none;
  }

  textarea:focus, input:focus{
    outline: none;
    border-color: $theme-color;
    box-shadow: 0 0 5px $theme-color;
  }

  button {
    @include button(200px);

    margin-left: 5px;

    a {
      text-decoration: none;
      color: #FFF;
      font-weight: 600;
    }
  }

  section {
    position: relative;
  }

  .row {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
  }

  .col {
    @include display-flex;
    @include flex-direction(column);
    @include flex-wrap(wrap);
  }

  @each $i in $scale {
    .flg-#{$i}{
      @include flexbox-grow($i);
    }
  }

  .input-x {
    height: 35px;
    flex: 2;
  }

  #signin-container {
    position: fixed;
    top: 50%;
    width: 600px;
    left: 50%;
    margin-left: -15em;
    margin-top: -9em;
  }

  ul#room-list {
    padding: 10px;
    max-height: 500px;
    height: 500px;
    overflow: auto;

    li {
      padding: 15px;
      background: #e8e8e8;
      border-bottom: solid 1px #e0e0e0;

      &:hover {
        cursor: pointer;
        background: $theme-color;
      }
    }
  }

  .page__container-content__form {
    padding: 10px;
    width: 320px;
  }

  .page__container-content__wrapper-form {
    width: 50%;
    margin: auto;
  }

  #messages-thread {
    width: 50%;
    margin: auto;
  }

  #message-input {
    bottom: 100px;
    position: fixed;
    width: 100%;
  }
}
